//Device: GW1NR-9
//Device Version: C
//Created Time: Fri 04 17 11:17:31 2026

IO_LOC "Mot2[1]" 27;
IO_PORT "Mot2[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Mot2[0]" 28;
IO_PORT "Mot2[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Mot1[1]" 25;
IO_PORT "Mot1[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Mot1[0]" 26;
IO_PORT "Mot1[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Sensores[2]" 49;
IO_PORT "Sensores[2]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "Sensores[1]" 31;
IO_PORT "Sensores[1]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "Sensores[0]" 32;
IO_PORT "Sensores[0]" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
